<template>
    <div>
        Nama
        <b-form-input v-model="name" placeholder="Masukkan nama anda"></b-form-input>
        No. HP
        <b-form-input v-model="phonenumber" placeholder="Masukkan No HP anda"></b-form-input>
        Alamat
        <b-form-input v-model="address" placeholder="Masukkan Alamat anda"></b-form-input>
        Email
        <b-form-input v-model="email" placeholder="Masukkan Email anda"></b-form-input>
        KTP
        <b-form-file v-on:change="handleFileUpload" placeholder="Masukkan KTP anda"></b-form-file>
        <b-button v-on:click="saveCustomer()">Submit</b-button>
    </div>
</template>

<script>
import Axios from 'axios'
export default {
    name: 'AddCustomer',
    data(){
        return {
            name:"",
            email:"",
            phonenumber:"",
            address:"",
            identityCard:"",
        }
    },
    methods:{
        saveCustomer(){
            let url = "http://interview-local.com/customers";
            let formData = new FormData();
            formData.append('name', this.name);
            formData.append('email', this.email);
            formData.append('phonenumber', this.phonenumber);
            formData.append('address', this.address);
            formData.append('identity_card', this.identityCard);
            Axios.post(url, 
                formData,
                {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }
                ).then(
                res => {
                    console.log(res.data)
                    this.$router.push('/');
                }, 
                err => {
                    alert(JSON.stringify(err.response.data))
                }
            )
        },
        handleFileUpload(event){
            this.identityCard = event.target.files[0];
        }
    }
}
</script>