<template>
    <div>
        <input type="hidden" v-model="id" placeholder="Masukkan nama anda" />
        Nama
        <b-form-input v-model="name" placeholder="Masukkan nama anda"></b-form-input>
        No. HP
        <b-form-input v-model="phonenumber" placeholder="Masukkan No HP anda"></b-form-input>
        Alamat
        <b-form-input v-model="address" placeholder="Masukkan Alamat anda"></b-form-input>
        Email
        <b-form-input v-model="email" placeholder="Masukkan Email anda"></b-form-input>
        <img v-bind:src="'http://interview-local.com/uploads/identity_card/' + dataCustomer.identity_card" /> 
        KTP
        <b-form-file v-on:change="handleFileUpload" placeholder="Masukkan KTP anda"></b-form-file>
        <b-button v-on:click="saveCustomer()">Submit</b-button>
    </div>
</template>

<script>
import Axios from 'axios'
export default {
    name: 'EditCustomer',
    data(){
        return {
            dataCustomer:{},
            identityCard:""
        }
    },
    mounted() {
        this.getResults()
    },
    methods:{
        saveCustomer(){
            let url = "http://interview-local.com/customers";
            let formData = new FormData();
            formData.append('_method', 'PATCH')
            formData.append('id', this.id);
            formData.append('name', this.name);
            formData.append('email', this.email);
            formData.append('phonenumber', this.phonenumber);
            formData.append('address', this.address);
            formData.append('identity_card', this.identityCard);
            console.log(formData.get('identity_card'));
            Axios.post(url, 
                formData,
                {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }
                ).then(
                res => {
                    console.log(res.data)
                    this.$router.push('/');
                }, 
                err => {
                    alert(JSON.stringify(err.response.data))
                }
            )
        },
        handleFileUpload(event){
            this.identityCard = event.target.files[0];
        },
        getResults(){
            Axios.get("http://interview-local.com/customers/" + this.$route.params.id).then(
                res => {
                    this.dataCustomer = res.data.data

                    this.id = this.dataCustomer.id
                    this.name = this.dataCustomer.name
                    this.phonenumber = this.dataCustomer.phonenumber
                    this.email = this.dataCustomer.email
                    this.address = this.dataCustomer.address
                    this.identity_card = this.dataCustomer.identity_card
                }
            )
        }
    }
}
</script>