<template>
    <div>
    <router-link to="/add">Add</router-link>
    <table class="table">
        <tr>
            <th>Nama</th>
            <th>No. HP</th>
            <th>Email</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
        <tr v-for="customer in dataCustomers.data" :key="customer.id">
            <td>{{ customer.name }}</td>
            <td>{{ customer.phonenumber }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.address }}</td>
            <td>
                <router-link :to="{name:'edit', params: { id: customer.id } }">Edit</router-link> | 
                <a v-on:click="deleteCustomer(customer.id)"></a>
            </td>
        </tr>
    </table>
    <pagination :data="dataCustomers" @pagination-change-page="getResults"></pagination>
    </div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
Vue.component('pagination', require('laravel-vue-pagination'));

export default {
    data(){
        return {
            dataCustomers:{}
        }
    },
    name: 'ListCustomer',
    mounted() {

        this.getResults()
    },
    methods:{
        getResults(page = 1){
            axios.get("http://interview-local.com/customers?page=" + page).then(
                res => {
                    this.dataCustomers = res.data
                }
            )
        },

        deleteCustomer(idCustomer){
            axios.delete("http://interview-local.com/customers", {id:idCustomer}).then(
                res => {
                    this.dataCustomers = res.data
                }
            )
        }
    }
}
</script>