<template>
  <div id="app">
    <Header />
    <b-container class="bv-example-row">
        <b-row>
            <b-col sm="6" offset="3">
                <router-view class=""> </router-view>
            </b-col>
        </b-row>
    </b-container>
    
  </div>
</template>

<script>
import Header from './components/Header.vue'

export default {
  name: 'App',
  components: {
    Header,
  },
  
}
</script>
